{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Boards" %}{% endblock %}
{% block header %}
    <ul class="menu">
            <li>
                <form id='lang_en' action='{% url 'set_language' %}' method='POST'>{% csrf_token %}
                    <input type='hidden' name='language' value='en'/>
                    <a href='#' title='English' onclick="document.getElementById('lang_en').submit()">
                        <img src="{% static 'img/flag/en.png' %}" style="width: 40px; height: 25px"/>
                    </a>
                </form>
            </li>
            <li>
                <form id='lang_ru' action='{% url 'set_language' %}' method='POST'>{% csrf_token %}
                    <input type='hidden' name='language' value='ru'/>
                    <a href='#' title='Russian' onclick="document.getElementById('lang_ru').submit()">
                        <img src="{% static 'img/flag/ru.png' %}" style="width: 40px; height: 25px"/>
                    </a>
                </form>
            </li>
            <li>
                <form id='lang_uk' action='{% url 'set_language' %}' method='POST'>{% csrf_token %}
                    <input type='hidden' name='language' value='uk'/>
                    <a href='#' title='Ukrainian' onclick="document.getElementById('lang_uk').submit()">
                        <img src="{% static 'img/flag/uk.png' %}" style="width: 40px; height: 25px"/>
                    </a>
                </form>
            </li>
        </ul>
{% endblock %}
{% block content %}
    <div class="table">
        <div class="requirements">
            <div class="sidebar">
                <h1 class="title_left">{% trans "Categories" %}:</h1>
                <ul>
                    <li {% if not category %}class="selected"{% endif %}>
                        <a href="{% url "boards:board_list" %}">{% trans "All" %}</a>
                    </li>
                    <span></span>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                        <span></span>
                    {% endfor %}
                </ul>
            </div>
            {% include "filter.html" with form=form %}
        </div>
        <h1 class="title_center">{% trans "Boards" %}</h1>
        <div class="board-tags">
            {% for board in boards %}
                <div class="board-tag">
                    <div class="information">
                        <div class="text">
                            <span>{{ board.name }}</span>
                            <h4>{{ board.processor }}</h4>
                        </div>
                        <a class="board-btn" href="{{ board.get_absolute_url }}">
                            <img class="svg" src="{% static "img/svg/menu-button.svg" %}" alt="down_arrow">
                        </a>
                    </div>
                    <img src="{{ board.image.url }}" alt="">
                </div>
            {% endfor %}
        </div>
        <div class="recommend">

        </div>
        <div style="clear:both;"></div>
    </div>

    {% if page_obj %}
        {% include "pagination.html" with page=page_obj %}
    {% else %}
        {% include "pagination.html" with page=boards %}
    {% endif %}

{% endblock %}
