{% extends "base.html" %}
{% block title %}Boards{% endblock %}

{% block filter %}
    {% include "filter.html" with langs=lang %}
{% endblock %}
{% block content %}
<h1>Boards</h1>
<div class="table">
    <div class="board-tags">
        {% for board in boards %}
            <div class="board-tag">
                <img src="https://cdn-reichelt.de/bilder/web/xxl_ws/B300/ARDUINO_UNO_A06.png" alt="">
                <span>{{ board.name }}</span>
                <h4>{{ board.processor }}</h4>
                <a href="{{ board.get_absolute_url }}">
                    <button class="board-btn">detail</button>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
        {% include "pagination.html" with page=boards %}
{% endblock %}