
{% load i18n %}
{% load static %}
<h1 class="title_center">{% trans "Recommendations" %}</h1>
<div class="recommend-update">
    {% if boards %}
        {% if boards.count == 1 %}
            <div class="info_recomm-good">
                <p>{% trans "The board that meets your requirements was found." %}</p>
            </div>
        {% else %}
            <div class="info_recomm-good">
                <p>{% trans "The board that meets your requirements was found: it displayed first. But we also advise you to look at the following boards that meet your criteria." %}</p>
            </div>
        {% endif %}

        <div class="board-tags recom_list">
            {% for board in boards %}
                {% if forloop.first %}
                    <div class="board-tag-main">
                        <div class="image-main-rec">
                           <a href="{{ board.get_absolute_url }}"><img src="{{ board.image.url }}" alt=""></a>
                        </div>
                        <div class="main-info">
                            <h1>{{ board.name }}</h1>
                            <div class="detail-info">
                                <p><b>{% trans "Processor Family" %}:</b> {{ board.processor.family }}</p>
                                <p><b>{% trans "Processor" %}:</b> {{ board.processor.name }}</p>
                                {% if board.min_price == board.max_price %}
                                    <p><b>{% trans "Price" %}:</b> {{ board.min_price }}</p>
                                {% else %}
                                    <p><b>{% trans "Price" %}:</b> {{ board.min_price }} - {{ board.max_price }}</p>
                                {% endif %}
                                <p><b>{% trans "Form-Factor" %}:</b> {{ board.length }} x {{ board.width }}</p>
                                <p><b>{% trans "Analog" %}:</b> {{ board.analog_port }}</p>
                                <p><b>{% trans "Digital" %}:</b> {{ board.digital_port }}</p>
                                <p><b>{% trans "Voltage" %}:</b> {{ board.power }}</p>
                                <p><b>{% trans "Free IDE" %}:</b>
                                {% for ide in board.free_ide.all %}
                                    {% if forloop.last %}
                                        {{ ide }}.
                                    {% else %}
                                       {{ ide }},
                                    {% endif %}
                                {% endfor %}
                                <p><b>{% trans "Language" %}:</b>
                                {% for l in board.programming_languages.all %}
                                    {% if forloop.last %}
                                        {{ l }}.
                                    {% else %}
                                       {{ l }},
                                    {% endif %}
                                {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="board-tag recomm_item">
                        <div class="board-tag--description">
                            <a class="play-button" href="{{ board.get_absolute_url }}">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
                              <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
                                <rect x="12" y="22.5" width="25" height="3" fill="white"/>
                                <rect x="12" y="15.5" width="25" height="3" fill="white"/>
                                <rect x="12" y="29.5" width="25" height="3" fill="white"/>
                            </svg>
                          </a>
                            <h3 class="roll-up">
                                {% for latter in board.name %}
                                  <span><span>{{latter}}</span><span>{{latter}}</span></span>
                                {% endfor %}
                            </h3>
                            <p class="text-reveal">
                              <span>
                                <span>Family {{ board.processor.family }}</span>
                                <span>{{ board.processor }}</span>
                              </span>
                              <span>
                                <span><span>Family {{ board.processor.family }}</span></span>
                                <span><span>{{ board.processor }}</span></span>
                              </span>
                            </p>
                        </div>
                        <img class="board_img" src="{{ board.image.url }}" alt="">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {% if boards_form or boards_language or boards_processor %}
            <div class="info_recomm">
                <p>{% trans "The board that meets your requirements was not found, but we suggest that you look at the following cards that meet your criteria." %}</p>
            </div>
        {% endif %}
        <div class="board-tags recom_list">
        {% if  boards_form %}
            <div class="board-tag recomm_item">
                <div class="requirements_recomm">
                     <span>{% trans "Form" %}</span>
                </div>
                <div class="board-tag--description">
                    <a class="play-button" href="{{ boards_form.first.get_absolute_url }}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
                      <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
                        <rect x="12" y="22.5" width="25" height="3" fill="white"/>
                        <rect x="12" y="15.5" width="25" height="3" fill="white"/>
                        <rect x="12" y="29.5" width="25" height="3" fill="white"/>
                    </svg>
                  </a>
                    <h3 class="roll-up">
                        {% for latter in boards_form.first.name %}
                          <span><span>{{latter}}</span><span>{{latter}}</span></span>
                        {% endfor %}
                    </h3>
                    <p class="text-reveal">
                      <span>
                        <span>Family {{ boards_form.first.processor.family }}</span>
                        <span>{{ boards_form.first.processor }}</span>
                      </span>
                      <span>
                        <span><span>Family {{ boards_form.first.processor.family }}</span></span>
                        <span><span>{{ boards_form.first.processor }}</span></span>
                      </span>
                    </p>
                </div>
                <img class="board_img" src="{{ boards_form.first.image.url }}" alt="">
            </div>
        {% endif %}
        {% if  boards_processor %}
            <div class="board-tag recomm_item">
                <div class="requirements_recomm">
                     <span>{% trans "Processor" %}</span>
                </div>
                <div class="board-tag--description">
                    <a class="play-button" href="{{ boards_processor.first.get_absolute_url }}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
                      <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
                        <rect x="12" y="22.5" width="25" height="3" fill="white"/>
                        <rect x="12" y="15.5" width="25" height="3" fill="white"/>
                        <rect x="12" y="29.5" width="25" height="3" fill="white"/>
                    </svg>
                  </a>
                    <h3 class="roll-up">
                        {% for latter in boards_processor.first.name %}
                          <span><span>{{latter}}</span><span>{{latter}}</span></span>
                        {% endfor %}
                    </h3>
                    <p class="text-reveal">
                      <span>
                        <span>Family {{ boards_processor.first.processor.family }}</span>
                        <span>{{ boards_processor.first.processor }}</span>
                      </span>
                      <span>
                        <span><span>Family {{ boards_processor.first.processor.family }}</span></span>
                        <span><span>{{ boards_processor.first.processor }}</span></span>
                      </span>
                    </p>
                </div>
                <img class="board_img" src="{{ boards_processor.first.image.url }}" alt="">
            </div>
        {% endif %}
        {% if  boards_language %}
            <div class="board-tag recomm_item">
                <div class="requirements_recomm">
                     <span>{% trans "Language" %}</span>
                </div>
                <div class="board-tag--description">
                    <a class="play-button" href="{{ boards_language.first.get_absolute_url }}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
                      <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
                        <rect x="12" y="22.5" width="25" height="3" fill="white"/>
                        <rect x="12" y="15.5" width="25" height="3" fill="white"/>
                        <rect x="12" y="29.5" width="25" height="3" fill="white"/>
                    </svg>
                  </a>
                    <h3 class="roll-up">
                        {% for latter in boards_language.first.name %}
                          <span><span>{{latter}}</span><span>{{latter}}</span></span>
                        {% endfor %}
                    </h3>
                    <p class="text-reveal">
                      <span>
                        <span>Family {{ boards_language.first.processor.family }}</span>
                        <span>{{ boards_language.first.processor }}</span>
                      </span>
                      <span>
                        <span><span>Family {{ boards_language.first.processor.family }}</span></span>
                        <span><span>{{ boards_language.first.processor }}</span></span>
                      </span>
                    </p>
                </div>
                <img class="board_img" src="{{ boards_language.first.image.url }}" alt="">
            </div>
        {% endif %}
        </div>
    {% endif %}
    {% if not boards and not boards_language and not boards_form and not boards_processor%}
         <div class="info_recomm-err">
            <p>{% trans "The board that meets your requirements was not found. Try changing the requirements by the following criteria: programming language, family of processors, form factor." %}</p>
         </div>
    {% endif %}
    <div style="clear:both;"></div>
</div>