/*base settings*/
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background-color: #efefef;
    margin: 0;
    padding:0;
    font-family: 'Maven Pro', sans-serif;
}
html {
    font-size: 10px;
}
p {
    font-size:1.4rem;
}
a {
    text-decoration: none;
}
/*base html*/
header ul.menu {
    /*grid-area: menu;*/
    list-style:none;
    margin-right: 6%;
    margin-bottom: 0;
    display: flex;
    justify-content: right;
    -webkit-justify-content: right;
    -moz-justify-content: right;
    -ms-justify-content: right;
}
header ul.menu li {
    float:right;
    padding: .4rem .3rem;
}
.content h1{
    color: black;
    text-align: center;
    text-transform: uppercase;
}

/*requirements sidebar + filter*/
.requirements{
    float: left;
    width: 25rem;
    margin-left: 2rem;
}
.sidebar ul{
    margin:0;
    padding:0;
}
.title_left{
    font-size: 1.5rem;
    line-height: 1.66;
    font-weight: 700;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-family: "stratum","Arial Narrow","Trebuchet MS",sans-serif;
    text-align: left!important;
}
.sidebar ul li {
    margin-bottom: 1.2rem;
    list-style:none;
    padding:1rem 1.4rem;
}
.sidebar ul li a {
    text-align: center;
    transition: all .4s ease-out;
    font-family: "stratum","Arial Narrow","Trebuchet MS",sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    display:block;
    opacity: 0.5;
    color: #000000;
    letter-spacing: .2rem;
    font-size: 1.3rem;
}
.sidebar ul li a:after{
    content: '';
    display: block;
    width: 100%;
    height: .2rem;
    opacity: 1;
    background: linear-gradient(-135deg, #5786b8 10%, #5786b8 4%, #1098AD 100%);
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .4s ease-out;
}
.sidebar ul li a:hover{
    opacity: 1;
}
.sidebar ul li a:hover:after{
    transform: scaleX(1);
}
.sidebar ul li.selected {
    border-bottom: none;
    background: linear-gradient(-135deg, #5786b8 10%, #5786b8 4%, #1098AD 100%);
    border-radius: .2rem;
}
.sidebar ul li.selected a {
    color: #ffffff;
    opacity: 1;
}
.sidebar ul li.selected a:after {
    opacity: 0;
}

.filter {
    margin-top: 5rem;
    height:100%;
}
.main-form{
    width:100%;
}
.info{
    font-family: "Ubuntu Mono", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    display: block;
    height: 3rem;
    margin: 1rem;
    color: #000000;
}
.label {
    transition: all .4s ease-out;
    float:left;
    clear:both;
    margin-top:.5rem;
    opacity: 0.5;
    font-size: 1.7rem;
}
.label-active{
    opacity: 1;
}
.info:hover label{
    opacity: 1;
}
.info img{
    transition: all .2s ease-out;
    height: 100%;
    width: 13%;
    float: right;
}
.info img:hover{
    cursor: pointer;
}
.field {
    background: linear-gradient(-135deg, rgb(87, 134, 184) 10%, rgb(87, 134, 184) 4%, rgb(16, 152, 173) 100%);
    clear: both;
    text-align: center;
    border-radius: .2rem;
    padding: 1rem;
    font-size: 1.3rem;
}
.field label{
    font-family: "Ubuntu Mono", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
}
.submit_btn-active{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
input, select{
    font-family: "Ubuntu Mono", sans-serif;
    clear:both;
    background: #ffffff;
    border:0;
    padding:.6rem 1rem;
    font-size:1.4rem;
    margin-bottom: 1rem;
    width: 20rem;
}
input[type=number]{
    height: 3.5rem;
    line-height: 3.3rem;
    border-radius: .5rem;
    padding-left: 1.8rem;
    text-align: left;
    padding-right: 1rem;
    width: 100%;
}
input[type=submit] {
    width: 100%;
    border-radius: 1rem;
    font-weight:bold;
    margin-top: 1rem;
    background:#5993bb;
    color:#fff;
    padding:1rem 2rem;
    font-size:1.4rem;
    text-transform:uppercase;
}
.send{
    background: linear-gradient(-135deg, rgb(87, 134, 184) 10%, rgb(87, 134, 184) 4%, rgb(16, 152, 173) 100%);
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    font-weight:bold;
    margin-top: 1rem;
    color:#fff;
    padding:1rem 2rem;
    font-size:1.6rem;
    text-transform:uppercase;
}

/*pagination html*/
.pagination{
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 1.6rem;
    margin: 2rem;
    text-align: center;
    color: #000000;
}
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background: linear-gradient(-135deg, rgb(87, 134, 184) 10%, rgb(87, 134, 184) 4%, rgb(16, 152, 173) 100%);
    color: white;
}
.pagination span{
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.pagination a:hover:not(.active){
    cursor: pointer;
    background-color: #d2d2d2;
}
.pagination  a:hover:not(.disabled){
    cursor: pointer;
    background-color: #d2d2d2;
}
.pagination a.disabled:hover{
    cursor: default;
    background-color: #efefef;
}
/*board list*/
.title_center{
    font-family: "stratum","Arial Narrow","Trebuchet MS",sans-serif;
    font-weight: 700;
    letter-spacing: .3rem;
    font-size: 1.5rem;
    line-height: 1.66;
    padding-top: 1rem;
}
.table{
    margin: 0.5rem 2.5rem;
}
.board-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5rem 1rem 5rem;
}
.board-tag{
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.13);
    border-width: 0;
    border-radius: .3rem;
    padding: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 27rem;
    transition: 0.5s;
    height: 30rem;
}
.board-tag img{
    width: 18rem;
    height: 18rem;
}
.board-tag:hover{
    cursor: pointer;
    box-shadow: 0 0 3rem 1rem rgba(204, 204, 223, 0.2);
}
.board-tag span{
    font-family: "Ubuntu Mono", sans-serif;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.board-tag h4{
    font-family: "Ubuntu Mono", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 1.1rem;
    margin: 1rem;
    margin-left: 2rem;
}
.board-tag h4 sup{
    vertical-align: super;
    font-size: 1.4rem;
    margin-right: 0.5rem;
}
.information{
    padding-top: 1rem;
    box-shadow: .3rem .7rem 1rem .1rem rgba(0, 0, 0, .2);
    position: relative;
    background: #fcfcfc;
    margin-right: -19%;
    margin-top: -1%;
    width: 120%;
}
.text{
    word-break: break-all;
    width: 18rem;
}
.board-btn{
    margin: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem .5rem;
    background: linear-gradient(-135deg, rgba(87, 134, 184, 1) 10%, rgba(87, 134, 184, 1) 4%, rgba(16, 152, 173, 1) 100%);
    color: #ffffff;
    font-weight: bold;
    border-radius: .4rem;
    box-shadow: 0 0 .5rem .1rem rgba(0, 0, 0, .5);
    width: 3rem;
    height: 3rem;
}
.board-btn .svg{
    width: 100%;
    height: 100%;
}
/*board detail*/
.recommend-update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5rem 1rem 5rem;
}
.detail{
    display: table;
    padding: 1rem;
    align-items: center;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 1rem;
}
.detail-img{
    float: left;
}
/* Recommendations */
.board-tag-main{
    background-color: #ffffff;
    border-radius: .2rem;
    margin-bottom: 2rem;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    height: 35rem;
    width: 100%;
}
.recom_list{
    padding: 0;
    width: 100%;
}
.board-tag-main:hover{
    cursor: pointer;
}
.image-main-rec{
    float: right;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
}
.board-tag-main img{
    margin-top: 1.5rem;
    width: 45%;
    height: 90%;
}
.main-info{
    font-family: "stratum","Arial Narrow","Trebuchet MS",sans-serif;
    height: 100%;
    width: 50%;
    float: left;
    background: rgba(140, 140, 140, 0.29);
}
.main-info h1{
    font-family: "stratum","Arial Narrow","Trebuchet MS",sans-serif;
    color: #000000;
    letter-spacing: .3rem;
    font-size: 3rem;
}
.main-info b{
    font-family: "Ubuntu Mono", sans-serif;
    color: #292d32;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .1rem;
}
.main-info p{
    font-family: "Ubuntu Mono", sans-serif;
    font-weight: 500;
    margin: 1rem;
    font-size: 1.4rem;
    color: #515151;
}
.info_recomm{
    width: 100%;
    margin-bottom: 2.5rem;
    padding: .4rem 1rem;
    background-color: #fff78e;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-align: center;
    align-content: center;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
}
.info_recomm-err{
    width: 100%;
    margin-bottom: 2.5rem;
    padding: .4rem 1rem;
    background-color: #ff9886;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-align: center;
    align-content: center;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
}
.info_recomm-good{
    width: 100%;
    margin-bottom: 2.5rem;
    padding: .4rem 1rem;
    background-color: #4dbe70;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-align: center;
    align-content: center;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
}
.requirements_recomm{
    padding: .5rem 3rem;
    background-color: #fff78e;
    position: absolute;
    font-size: 1rem;
    right: 0;
    z-index: 9;
    text-align: center;
    bottom: 0;
}
@media screen and (max-width: 400px) {
    html{
        font-size: 9px;
    }
    header ul.menu {
      justify-content: center;
    }
    .board-tags{
        padding: 0;
    }
    .requirements{
        margin-left: 0;
        width: 100%;
    }
    .recommend-update {
        padding: 0;
    }
    .board-tag{
        width: 100%;
    }
    .information{
        width: 110%;
    }
    .board-tag-main{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .image-main-rec{
        width: 100%;
    }
    .board-tag-main img{
        margin: 0;
        width: 22rem;
        height: 22rem;
    }
    .main-info{
        width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    html{
        font-size: 9px;
    }
}
@media screen and (min-width: 1499px) {
    html{
        font-size: 11px;
    }
}
@media screen and (min-width: 1919px) {
    html{
        font-size: 12px;
    }
}