/*base settings*/
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding:0;
    font-family: 'Maven Pro', sans-serif;
}
html {
    font-size: 10px;
}
p {
    font-size:1.4rem;
}
a {
    text-decoration: none;
}
/*base html*/
header ul.menu {
    list-style:none;
    margin-right: 3rem;
}
header ul.menu li {
    float:right;
    padding: .4rem .3rem;
}

.content h1{
    text-align: center;
    text-transform: uppercase;
}

/*filter html*/
.filter {
    margin-top: 2rem;
    padding: 0 20px 0 0;
    height:100%;
}
.filter h1{
    text-align: center;
    text-transform: uppercase;
}
.filter form{
    background:#efefef;
    overflow:auto;
}
.main-form{
    width:100%;
}
.info{
    display: block;
    height: 3rem;
    margin: 1rem;
}
.info label {
    font-size: 1.5rem;
    float:left;
    clear:both;
    color:#333;
    margin-top:.5rem;
}
.submit_btn{
    position: relative;
    font-size: 1.5rem;
    display: block;
    background-color: #ffffff;
    float: right;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    padding: .2rem .5rem;
    margin-top: .2rem;
    width: 25px;
    height: 25px;
}
.submit_btn span, span:before, span:after {
    display: block;
    height: 1px;
    width: 17px;
    position: absolute;
    top: 52%;
    left: 50%;
    margin-top: -1px;
    margin-left: -8.5px;
    background-color: #333333;
}
.submit_btn span:before{
    transition: all 0.2s;
    content: '';
    height: 17px;
    width: 1px;
    margin-left: -1px;
    margin-top: -8.5px;
}
.submit_btn-active span{
    background-color: transparent;
}
.submit_btn-active span:before{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.field {
    background-color: #e7e7e7;
    clear: both;
    text-align: center;
    border-radius: 1rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    padding-bottom: .3rem
}
input, select{
    clear:both;
    background: #ffffff;
    border:0;
    padding:.6rem 1rem;
    font-size:1.4rem;
    margin-bottom: 1rem;
    width: 20rem;
}

input[type=submit] {
    width: 100%;
    border-radius: 1rem;
    font-weight:bold;
    margin-top: 1rem;
    background:#5993bb;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
/*pagination html*/
.pagination{
    font-size: 1.4rem;
    margin: 1rem;
    text-align: center;
}

/*board list*/
.table{
    background-color: #f0f0f0;
    padding: 5rem;
    margin: 2.5rem;
}
.board-tags{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.board-tag{
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 25rem;
    transition: 0.5s;
    border: 1px solid rgba(204, 204, 223, 0.5);
    height: 300px;
}
/*.board-tag img{*/
    /*width: 10rem;*/
    /*height: 10rem;*/
/*}*/
.board-tag:hover{
    cursor: pointer;
    box-shadow: 0 0 60px 10px rgba(204, 204, 223, 0.71);
}
.board-tag span{
    color: #00abff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 3rem auto 1rem;
}
.board-tag h4{
    font-weight: 500;
    color: #487d99;
    font-size: 1em;
    margin: 1rem;
}
.board-tag h4 sup{
    vertical-align: super;
    font-size: 1.4rem;
    margin-right: 0.5rem;
}
.board-btn{
    background-color: #ffffff;
    border: 2px solid rgb(215,219,232);
    color: #2e4c6b;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.4rem 4rem;
    margin: 2rem auto 0;
    border-radius: 100px;
    transition: 0.2s;
    box-shadow: 0 0 18.69px 2.31px rgba(204, 204, 223, 0.5);
}
.board-btn:hover{
    background-color: #5993bb;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
}

.requirements{
    float: left;
    width: 270px;
}

.sidebar {
    padding:0 20px 0 0;
}

.sidebar ul{
    margin:0;
    padding:0;
}

.sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

.sidebar ul li a {
    font-weight: 300;
    display:block;
    color: #333;
    font-size: 1.5rem;
}

.sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

.sidebar ul li.selected a {
    color:#fff;
}


/*board detail*/
.detail{
    display: inline-block;
}
.detail-info{
    float: right;
    margin: 3rem;
}
.detail-img{
    float: left;
}
