{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="{{ LANGUAGE_CODE }}">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/board.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/nice-select.css" %}">
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
{#<script src="{% static 'js/http_ajax.googleapis.com_ajax_libs_jquery_2.0.0_jquery.js' %}"></script>#}
<script src="{% static 'js/ajax_recomended_boards.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/card_animate.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

     $('#contact_form-1').show();
     $('#submit_btn-strq').click(function() {
         $('#contact_form-1').toggle();
     });

     $('#contact_form-2').hide();
     $('#submit_btn-hw').click(function() {
         $('#contact_form-2').toggle();
     });

     $('#contact_form-3').hide();
     $('#submit_btn-sw').click(function() {
         $('#contact_form-3').toggle();
     });

     $('#contact_form-4').hide();
     $('#submit_btn-supl').click(function() {
         $('#contact_form-4').toggle();
     });

    });
</script>

<script type="text/javascript">
$(document).ready(function() {
    var btn1 = $('#submit_btn-strq');
    var btn2 = $('#submit_btn-hw');
    var btn3 = $('#submit_btn-sw');
    var btn4 = $('#submit_btn-supl');

    btn1.click(function () {
        btn1.toggleClass('submit_btn-active');
        $(btn1).parent('.info').children('.label').toggleClass('label-active');
    });
    btn2.click(function () {
        btn2.toggleClass('submit_btn-active');
        $(btn2).parent('.info').children('.label').toggleClass('label-active');
    });
    btn3.click(function () {
        btn3.toggleClass('submit_btn-active');
        $(btn3).parent('.info').children('.label').toggleClass('label-active');
    });
    btn4.click(function () {
        btn4.toggleClass('submit_btn-active');
        $(btn4).parent('.info').children('.label').toggleClass('label-active');
    });

});
</script>

<script>
$(document).ready(function() {
  $('select').niceSelect();
});
</script>