{% load i18n %}
<div class="filter">
    <div class="text-head">
        <h1>{% trans 'Requirements' %}</h1>
    </div>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="main-form">
            <div class="info">
                <label>{% trans 'Stakeholder' %}</label>
                <a class="submit_btn submit_btn-active" id="submit_btn-strq">
                     <span></span>
                </a>
            </div>

            <div class="field" id="contact_form-1">
                <label for="{{ form.knowledge_level.id_for_label }}">Knowledge level</label>
                <p>{{ form.knowledge_level }}</p>
            </div>

            <div class="info">
                <label>{% trans 'Feature Hardware' %}</label>
                <a class="submit_btn" id="submit_btn-hw">
                    <span></span>
                </a>
            </div>

            <div class="field" id="contact_form-2">
                <label for="{{ form.analog.id_for_label }}">Analog I/O</label>
                <p>{{ form.analog }}</p>

                <label for="{{ form.digit.id_for_label }}">Digit I/O</label>
                <p>{{ form.digit }}</p>

                <label for="{{ form.voltage.id_for_label }}">Voltage</label>
                <p>{{ form.voltage }}</p>

                <label for="{{ form.processor_family.id_for_label }}">Processor Family</label>
                <p>{{ form.processor_family }}</p>
            </div>

            <div class="info">
                <label>{% trans 'Feature Software' %}</label>
                <a class="submit_btn" id="submit_btn-sw">
                    <span></span>
                </a>
            </div>
            <div class="field" id="contact_form-3">
                <label for="{{ form.language.id_for_label }}">Language</label>
                <p>{{ form.language }}</p>
            </div>

            <div class="info">
                <label>{% trans 'Supplementary' %}</label>
                <a class="submit_btn" id="submit_btn-supl">
                    <span></span>
                </a>
            </div>
            <div class="field" id="contact_form-4">
                <label for="{{ form.price.id_for_label }}">Price</label>
                <p>{{ form.price }}</p>

                <label for="{{ form.form.id_for_label }}">Form</label>
                <p>{{ form.form }}</p>
            </div>

            <input type="submit" value={% trans 'Send' %}>
        </div>
    </form>
</div>
