{% load i18n %}
{% load staticfiles %}
<div class="filter">
    <div class="text-head">
        <h1 class="title_left">{% trans 'Requirements' %}:</h1>
    </div>
    <form action="" id="requirements">
{#        {% csrf_token %}#}

        <div class="main-form">
            <div class="info">
                <label class="label label-active">{% trans 'Stakeholder' %}</label>
                <img class="submit_btn submit_btn-active" id="submit_btn-strq" src="{% static "img/svg/down-arrow.svg" %}" alt="down_arrow">
            </div>

            <div class="field" id="contact_form-1">
                <label for="{{ form.knowledge_level.id_for_label }}">{% trans 'Knowledge level' %}</label>
                <p>{{ form.knowledge_level }}</p>
            </div>

            <div class="info">
                <label class="label">{% trans 'Feature Hardware' %}</label>
                <img class="submit_btn" id="submit_btn-hw" src="{% static "img/svg/down-arrow.svg" %}" alt="down_arrow">
            </div>

            <div class="field" id="contact_form-2">
                <label for="{{ form.analog.id_for_label }}">{% trans 'Analog I/O' %}</label>
                <p>{{ form.analog }}</p>

                <label for="{{ form.digit.id_for_label }}">{% trans 'Digit I/O' %}</label>
                <p>{{ form.digit }}</p>

                <label for="{{ form.voltage.id_for_label }}">{% trans 'Voltage' %}</label>
                <p>{{ form.voltage }}</p>

                <label for="{{ form.processor_family.id_for_label }}">{% trans 'Processor Family' %}</label>
                <p>{{ form.processor_family }}</p>
            </div>

            <div class="info">
                <label class="label">{% trans 'Feature Software' %}</label>
                <img class="submit_btn" id="submit_btn-sw" src="{% static "img/svg/down-arrow.svg" %}" alt="down_arrow">
            </div>
            <div class="field" id="contact_form-3">
                <label for="{{ form.language.id_for_label }}">{% trans 'Language' %}</label>
                <p>{{ form.language }}</p>
            </div>

            <div class="info">
                <label class="label">{% trans 'Supplementary' %}</label>
                <img class="submit_btn" id="submit_btn-supl" src="{% static "img/svg/down-arrow.svg" %}" alt="down_arrow">
            </div>
            <div class="field" id="contact_form-4">
                <label for="{{ form.price.id_for_label }}">{% trans 'Price' %}</label>
                <p>{{ form.price }}</p>

                <label for="{{ form.form.id_for_label }}">{% trans 'Form' %}</label>
                <p>{{ form.form }}</p>
            </div>

            <input type="button"  class="send" value={% trans 'Send' %}>
        </div>
    </form>
</div>
