<div class="pagination">
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">&laquo;</a>
    {% else %}
        <a class="disabled"><span>&laquo;</span></a>
    {% endif %}

    {% for i in page.paginator.page_range %}
        {% if page.number == i %}
            <a class="active"><span>{{ i }}</span></a>
        {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">&raquo;</a>
    {% else %}
        <a class="disabled"><span>&raquo;</span></a>
    {% endif %}
</div>